*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
backend/build/tmp/war/MANIFEST.MF
backend/build/libs/backend.war
backend/build/exploded-app/index.html
backend/build/exploded-app/WEB-INF/web.xml
backend/build/exploded-app/WEB-INF/logging.properties
backend/build/exploded-app/WEB-INF/lib/servlet-api-2.5.jar
backend/build/exploded-app/WEB-INF/lib/jsr305-1.3.9.jar
backend/build/exploded-app/WEB-INF/lib/json-20160212.jar
backend/build/exploded-app/WEB-INF/lib/jackson-core-2.1.3.jar
backend/build/exploded-app/WEB-INF/lib/httpcore-4.4.6.jar
backend/build/exploded-app/WEB-INF/lib/httpclient-4.5.3.jar
backend/build/exploded-app/WEB-INF/lib/guava-jdk5-17.0.jar
backend/build/exploded-app/WEB-INF/lib/gson-2.6.2.jar
backend/build/exploded-app/WEB-INF/lib/google-oauth-client-1.21.0.jar
backend/build/exploded-app/WEB-INF/lib/google-http-client-jackson2-1.21.0.jar
backend/build/exploded-app/WEB-INF/lib/google-http-client-gson-1.21.0.jar
backend/build/exploded-app/WEB-INF/lib/google-http-client-1.21.0.jar
backend/build/exploded-app/WEB-INF/lib/google-api-client-gson-1.21.0.jar
backend/build/exploded-app/WEB-INF/lib/google-api-client-1.21.0.jar
backend/build/exploded-app/WEB-INF/lib/firebase-server-sdk-3.0.3.jar
backend/build/exploded-app/WEB-INF/lib/commons-logging-1.2.jar
backend/build/exploded-app/WEB-INF/lib/commons-codec-1.9.jar
backend/build/exploded-app/WEB-INF/lib/appengine-api-1.0-sdk-1.9.54.jar
backend/build/exploded-app/WEB-INF/classes/com/example/kuba_10/firebasewallpapertest/MyServlet.class
backend/build/exploded-app/WEB-INF/appengine-web.xml
backend/build/exploded-app/META-INF/MANIFEST.MF
backend/build/classes/main/com/example/kuba_10/firebasewallpapertest/MyServlet.class
